In [8]:
import pandas as pd
import numpy as np
import pickle

filename = "house_sales.csv"
df = pd.read_csv("house_sales.csv")

In [10]:
df.head()

,DocumentDate,SalePrice,PropertyID,PropertyType,ym,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,...,Bathrooms,Bedrooms,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode,NewConstruction
0,2014-09-16,280000,1000102,Multiplex,2014-09-01,405100,0.930836,300805.0,2,9373,...,3.00,6,7,1991,0,0,70000,229000,98002,False
1,2006-06-16,1000000,1200013,Single Family,2006-06-01,404400,0.929228,1076162.0,1,20156,...,3.75,4,10,2005,0,0,203000,590000,98166,True
2,2007-01-29,745000,1200019,Single Family,2007-01-01,425600,0.977941,761805.0,1,26036,...,1.75,4,8,1947,0,0,183000,275000,98166,False
3,2008-02-25,425000,2800016,Single Family,2008-02-01,418400,0.961397,442065.0,1,8618,...,3.75,5,7,1966,0,0,104000,229000,98168,False
4,2013-03-29,240000,2800024,Single Family,2013-03-01,351600,0.807904,297065.0,1,8620,...,1.75,4,7,1948,0,0,104000,205000,98168,False

In [14]:
df.sample(3)

,DocumentDate,SalePrice,PropertyID,PropertyType,ym,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,...,Bathrooms,Bedrooms,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode,NewConstruction
10536,2007-04-09,230000,3782850130,Single Family,2007-04-01,430900,0.990119,232295.0,1,6906,...,3.0,4,10,2008,0,0,108000,379000,98031,True
20110,2010-11-17,539910,8682300890,Single Family,2010-11-01,332700,0.764476,706248.0,1,6600,...,2.5,2,8,2010,0,0,245000,445000,98053,True
13188,2015-01-05,99000,5128000010,Single Family,2015-01-01,415400,0.954504,103719.0,1,8236,...,1.0,2,6,1948,0,0,80000,61000,98058,False

In [16]:
df.tail()

,DocumentDate,SalePrice,PropertyID,PropertyType,ym,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,...,Bathrooms,Bedrooms,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode,NewConstruction
22682,2011-04-08,325000,9842300710,Single Family,2011-04-01,318700,0.732307,443803.0,1,5468,...,1.75,3,7,1951,0,0,201000,172000,98126,False
22683,2007-09-28,1580000,9845500010,Single Family,2007-09-01,433500,0.996094,1586196.0,1,23914,...,4.50,4,11,2000,0,1,703000,951000,98040,False
22684,2012-07-09,165000,9899200010,Single Family,2012-07-01,325300,0.747472,220744.0,1,11170,...,1.00,4,6,1971,0,0,92000,130000,98055,False
22685,2006-05-26,315000,9900000355,Single Family,2006-05-01,400600,0.920496,342207.0,1,6223,...,2.00,3,7,1939,0,0,103000,212000,98166,False
22686,2007-01-09,465000,9906000035,Single Family,2007-01-01,425600,0.977941,475489.0,1,4400,...,1.50,3,7,1928,0,0,311000,268000,98103,False

In [32]:
df.describe()

,SalePrice,PropertyID,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,SqFtTotLiving,SqFtFinBasement,Bathrooms,Bedrooms,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode
count,2.268700e+04,2.268700e+04,22687.000000,22687.000000,2.268700e+04,22687.000000,2.268700e+04,22687.000000,22687.000000,22687.000000,22687.000000,22687.000000,22687.000000,22687.000000,22687.000000,2.268700e+04,2.268700e+04,22687.000000
mean,5.079244e+05,4.666164e+09,392181.923569,0.901153,5.652333e+05,1.018821,1.174633e+04,2080.165734,293.233305,2.176500,3.367744,7.680963,1971.195266,102.314762,0.205801,2.203211e+05,3.004712e+05,98078.526910
std,3.466368e+05,2.877700e+09,36349.866645,0.083525,3.854029e+05,0.159752,2.901602e+04,913.742170,439.454608,0.768027,0.904379,1.180464,30.313796,440.579006,0.554216,1.829177e+05,2.265750e+05,52.342559
min,3.000000e+03,1.000102e+06,311600.000000,0.715993,3.368000e+03,1.000000,4.940000e+02,370.000000,0.000000,0.000000,0.000000,3.000000,1900.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,98001.000000
25%,3.250000e+05,2.212325e+09,360700.000000,0.828814,3.605630e+05,1.000000,4.800000e+03,1420.000000,0.000000,1.750000,3.000000,7.000000,1950.000000,0.000000,0.000000,1.070000e+05,1.720000e+05,98034.000000
50%,4.246500e+05,4.006000e+09,403200.000000,0.926471,4.713150e+05,1.000000,7.200000e+03,1910.000000,0.000000,2.250000,3.000000,7.000000,1977.000000,0.000000,0.000000,1.820000e+05,2.460000e+05,98065.000000
75%,5.850000e+05,7.417700e+09,421200.000000,0.967831,6.494110e+05,1.000000,9.794000e+03,2540.000000,580.000000,2.500000,4.000000,8.000000,2000.000000,0.000000,0.000000,2.670000e+05,3.610000e+05,98117.000000
max,1.100000e+07,9.906000e+09,435200.000000,1.000000,1.164486e+07,5.000000,1.024068e+06,10740.000000,3500.000000,8.000000,33.000000,13.000000,2015.000000,2016.000000,3.000000,5.538000e+06,5.772000e+06,98354.000000

In [24]:
df.shape

(22687, 22)

In [26]:
df.corr()

ValueError: could not convert string to float: '2014-09-16'

In [30]:
df["DocumentDate"].sales_counts()

AttributeError: 'Series' object has no attribute 'sales_counts'

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22687 entries, 0 to 22686
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DocumentDate     22687 non-null  object
 1   SalePrice        22687 non-null  int64
 2   PropertyID       22687 non-null  int64
 3   PropertyType     22687 non-null  object
 4   ym               22687 non-null  object
 5   zhvi_px          22687 non-null  int64
 6   zhvi_idx         22687 non-null  float64
 7   AdjSalePrice     22687 non-null  float64
 8   NbrLivingUnits   22687 non-null  int64
 9   SqFtLot          22687 non-null  int64
 10  SqFtTotLiving    22687 non-null  int64
 11  SqFtFinBasement  22687 non-null  int64
 12  Bathrooms        22687 non-null  float64
 13  Bedrooms         22687 non-null  int64
 14  BldgGrade        22687 non-null  int64
 15  YrBuilt          22687 non-null  int64
 16  YrRenovated      22687 non-null  int64
 17  TrafficNoise     22687 non-null  int64
 18  LandVal          22687 non-null  int64
 19  ImpsVal          22687 non-null  int64
 20  ZipCode          22687 non-null  int64
 21  NewConstruction  22687 non-null  bool
dtypes: bool(1), float64(3), int64(15), object(3)
memory usage: 3.7+ MB

In [36]:
df.dtypes

DocumentDate        object
SalePrice            int64
PropertyID           int64
PropertyType        object
ym                  object
zhvi_px              int64
zhvi_idx           float64
AdjSalePrice       float64
NbrLivingUnits       int64
SqFtLot              int64
SqFtTotLiving        int64
SqFtFinBasement      int64
Bathrooms          float64
Bedrooms             int64
BldgGrade            int64
YrBuilt              int64
YrRenovated          int64
TrafficNoise         int64
LandVal              int64
ImpsVal              int64
ZipCode              int64
NewConstruction       bool
dtype: object

In [38]:
numeric_df = df.select_dtypes(include=['int64', 'float64'])
print(numeric_df.corr())

                 SalePrice  PropertyID   zhvi_px  zhvi_idx  AdjSalePrice  \
SalePrice         1.000000   -0.026166  0.096750  0.096750      0.985465
PropertyID       -0.026166    1.000000 -0.015217 -0.015217     -0.024586
zhvi_px           0.096750   -0.015217  1.000000  1.000000     -0.044657
zhvi_idx          0.096750   -0.015217  1.000000  1.000000     -0.044657
AdjSalePrice      0.985465   -0.024586 -0.044657 -0.044657      1.000000
NbrLivingUnits    0.023782   -0.014106  0.015234  0.015234      0.022548
SqFtLot           0.134767   -0.114654 -0.012913 -0.012913      0.137147
SqFtTotLiving     0.689898   -0.020190 -0.021532 -0.021532      0.695147
SqFtFinBasement   0.295041   -0.036204 -0.007176 -0.007176      0.297716
Bathrooms         0.524391   -0.006115 -0.027775 -0.027775      0.529123
Bedrooms          0.311403   -0.027457 -0.000161 -0.000161      0.312074
BldgGrade         0.666884   -0.010178 -0.046050 -0.046050      0.675566
YrBuilt           0.082345    0.031264 -0.016218 -0.016218      0.082133
YrRenovated       0.105955   -0.010443 -0.000791 -0.000791      0.107782
TrafficNoise     -0.011710   -0.032584  0.008416  0.008416     -0.012253
LandVal           0.804961   -0.032604 -0.023738 -0.023738      0.812183
ImpsVal           0.825453   -0.011606 -0.031515 -0.031515      0.833368
ZipCode          -0.071767   -0.020161 -0.003131 -0.003131     -0.069676

                 NbrLivingUnits   SqFtLot  SqFtTotLiving  SqFtFinBasement  \
SalePrice              0.023782  0.134767       0.689898         0.295041
PropertyID            -0.014106 -0.114654      -0.020190        -0.036204
zhvi_px                0.015234 -0.012913      -0.021532        -0.007176
zhvi_idx               0.015234 -0.012913      -0.021532        -0.007176
AdjSalePrice           0.022548  0.137147       0.695147         0.297716
NbrLivingUnits         1.000000 -0.005113       0.059581         0.066807
SqFtLot               -0.005113  1.000000       0.195967         0.035430
SqFtTotLiving          0.059581  0.195967       1.000000         0.407234
SqFtFinBasement        0.066807  0.035430       0.407234         1.000000
Bathrooms              0.111242  0.107439       0.764155         0.272772
Bedrooms               0.168103  0.069091       0.600317         0.312380
BldgGrade             -0.048098  0.145508       0.770499         0.137714
YrBuilt               -0.109187  0.068400       0.311560        -0.210810
YrRenovated            0.011369  0.006911       0.067191         0.109495
TrafficNoise           0.083206 -0.012829      -0.060686         0.053034
LandVal                0.031429  0.071052       0.467763         0.283763
ImpsVal                0.003013  0.107673       0.761802         0.281993
ZipCode                0.055731 -0.121463      -0.199355         0.143724

                 Bathrooms  Bedrooms  BldgGrade   YrBuilt  YrRenovated  \
SalePrice         0.524391  0.311403   0.666884  0.082345     0.105955
PropertyID       -0.006115 -0.027457  -0.010178  0.031264    -0.010443
zhvi_px          -0.027775 -0.000161  -0.046050 -0.016218    -0.000791
zhvi_idx         -0.027775 -0.000161  -0.046050 -0.016218    -0.000791
AdjSalePrice      0.529123  0.312074   0.675566  0.082133     0.107782
NbrLivingUnits    0.111242  0.168103  -0.048098 -0.109187     0.011369
SqFtLot           0.107439  0.069091   0.145508  0.068400     0.006911
SqFtTotLiving     0.764155  0.600317   0.770499  0.311560     0.067191
SqFtFinBasement   0.272772  0.312380   0.137714 -0.210810     0.109495
Bathrooms         1.000000  0.537998   0.658738  0.468610     0.066480
Bedrooms          0.537998  1.000000   0.368125  0.148334     0.045970
BldgGrade         0.658738  0.368125   1.000000  0.434524     0.025361
YrBuilt           0.468610  0.148334   0.434524  1.000000    -0.247338
YrRenovated       0.066480  0.045970   0.025361 -0.247338     1.000000
TrafficNoise     -0.059994 -0.039135  -0.063295 -0.147166     0.024593
LandVal           0.309291  0.204159   0.460107 -0.106284     0.129184
ImpsVal           0.625223  0.349299   0.749953  0.182368     0.115174
ZipCode          -0.198721 -0.152609  -0.193142 -0.383388     0.077872

                 TrafficNoise   LandVal   ImpsVal   ZipCode
SalePrice           -0.011710  0.804961  0.825453 -0.071767
PropertyID          -0.032584 -0.032604 -0.011606 -0.020161
zhvi_px              0.008416 -0.023738 -0.031515 -0.003131
zhvi_idx             0.008416 -0.023738 -0.031515 -0.003131
AdjSalePrice        -0.012253  0.812183  0.833368 -0.069676
NbrLivingUnits       0.083206  0.031429  0.003013  0.055731
SqFtLot             -0.012829  0.071052  0.107673 -0.121463
SqFtTotLiving       -0.060686  0.467763  0.761802 -0.199355
SqFtFinBasement      0.053034  0.283763  0.281993  0.143724
Bathrooms           -0.059994  0.309291  0.625223 -0.198721
Bedrooms            -0.039135  0.204159  0.349299 -0.152609
BldgGrade           -0.063295  0.460107  0.749953 -0.193142
YrBuilt             -0.147166 -0.106284  0.182368 -0.383388
YrRenovated          0.024593  0.129184  0.115174  0.077872
TrafficNoise         1.000000  0.003996 -0.012132  0.102238
LandVal              0.003996  1.000000  0.567152 -0.065329
ImpsVal             -0.012132  0.567152  1.000000 -0.030379
ZipCode              0.102238 -0.065329 -0.030379  1.000000

In [40]:
date_counts = df["DocumentDate"].value_counts()
print(date_counts)

DocumentDate
2006-07-26    60
2006-04-25    55
2006-06-28    54
2006-08-24    54
2006-06-19    54
              ..
2006-11-19     1
2010-04-03     1
2011-07-16     1
2006-05-29     1
2009-09-26     1
Name: count, Length: 2560, dtype: int64

In [42]:
df.max()

DocumentDate       2015-05-29
SalePrice            11000000
PropertyID         9906000035
PropertyType        Townhouse
ym                 2015-05-01
zhvi_px                435200
zhvi_idx                  1.0
AdjSalePrice       11644855.0
NbrLivingUnits              5
SqFtLot               1024068
SqFtTotLiving           10740
SqFtFinBasement          3500
Bathrooms                 8.0
Bedrooms                   33
BldgGrade                  13
YrBuilt                  2015
YrRenovated              2016
TrafficNoise                3
LandVal               5538000
ImpsVal               5772000
ZipCode                 98354
NewConstruction          True
dtype: object

In [44]:
df

,DocumentDate,SalePrice,PropertyID,PropertyType,ym,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,...,Bathrooms,Bedrooms,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode,NewConstruction
0,2014-09-16,280000,1000102,Multiplex,2014-09-01,405100,0.930836,300805.0,2,9373,...,3.00,6,7,1991,0,0,70000,229000,98002,False
1,2006-06-16,1000000,1200013,Single Family,2006-06-01,404400,0.929228,1076162.0,1,20156,...,3.75,4,10,2005,0,0,203000,590000,98166,True
2,2007-01-29,745000,1200019,Single Family,2007-01-01,425600,0.977941,761805.0,1,26036,...,1.75,4,8,1947,0,0,183000,275000,98166,False
3,2008-02-25,425000,2800016,Single Family,2008-02-01,418400,0.961397,442065.0,1,8618,...,3.75,5,7,1966,0,0,104000,229000,98168,False
4,2013-03-29,240000,2800024,Single Family,2013-03-01,351600,0.807904,297065.0,1,8620,...,1.75,4,7,1948,0,0,104000,205000,98168,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22682,2011-04-08,325000,9842300710,Single Family,2011-04-01,318700,0.732307,443803.0,1,5468,...,1.75,3,7,1951,0,0,201000,172000,98126,False
22683,2007-09-28,1580000,9845500010,Single Family,2007-09-01,433500,0.996094,1586196.0,1,23914,...,4.50,4,11,2000,0,1,703000,951000,98040,False
22684,2012-07-09,165000,9899200010,Single Family,2012-07-01,325300,0.747472,220744.0,1,11170,...,1.00,4,6,1971,0,0,92000,130000,98055,False
22685,2006-05-26,315000,9900000355,Single Family,2006-05-01,400600,0.920496,342207.0,1,6223,...,2.00,3,7,1939,0,0,103000,212000,98166,False
22686,2007-01-09,465000,9906000035,Single Family,2007-01-01,425600,0.977941,475489.0,1,4400,...,1.50,3,7,1928,0,0,311000,268000,98103,False

NameError: name 'np' is not defined